@import 'mixin', 'var';

.container{
    @include flexCenter();
    flex-wrap: wrap;   

    img {
        height: 1500px;
        margin: 10px;
        border-radius: $borderForIMG;
        @include filter(50%);
    
    &:hover{
        @include filter(110%);
    }
}
}